@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: Roboto, sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
}

a {
  color: unset;
  text-decoration: none;
}

.navSection {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.navSection .info {
  background-color: #2d3b46;
  display: flex;
  justify-content: space-around;
}
.navSection .info div {
  display: flex;
}
.navSection .info div i {
  font-size: 1rem;
  margin: auto 1.25rem auto 0;
}
.navSection .info div p {
  margin: 0.25rem 0;
}
.navSection nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin: 0.25rem auto 0;
}
.navSection nav .brandName {
  font-size: 1.5rem;
  font-weight: bold;
}
.navSection nav .navIcons {
  display: none;
}
.navSection nav .navLinks {
  display: flex;
  margin: auto 0 auto auto;
}
.navSection nav .navLinks a {
  font-size: 1.125rem;
}
.navSection nav .navLinks a:not(:first-child) {
  margin-left: 1.25rem;
}
.navSection nav .navLinks a:not(:last-child):hover {
  text-decoration: underline;
}
.navSection nav .navLinks a:last-child {
  border: #fff 0.125rem solid;
  border-radius: 0.3125rem;
  padding: 0.125rem 0.25rem;
}
.navSection nav .navLinks a:last-child:hover {
  background-color: #fff;
  color: #000;
}
.navSection nav .navLinksResponsive {
  background-color: #2d3b46;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  color: #fff !important;
  color: #fff !important;
  display: none;
  filter: drop-shadow(0.625rem 0.625rem 0.25rem rgba(0, 0, 0, 0.25));
  flex-direction: column;
  margin: auto 0 auto auto;
  min-width: 10.5rem;
  padding: 0 auto 0.3125rem auto;
  top: 100%;
  left: calc(100% - 10.5rem);
  position: absolute;
  z-index: 10;
}
.navSection nav .navLinksResponsive a {
  font-size: 1.125rem;
}
.navSection nav .navLinksResponsive a:not(:first-child) {
  margin-top: 1.25rem;
}
.navSection nav .navLinksResponsive a:not(:last-child):hover {
  text-decoration: underline;
}
.navSection nav .navLinksResponsive a:last-child {
  border: #fff 0.125rem solid;
  border-radius: 0.3125rem;
  padding: 0.125rem 0.25rem;
  text-align: center;
}
.navSection nav .navLinksResponsive a:last-child:hover {
  background-color: #fff;
  color: #000;
}

footer {
  background-color: #2d3b46;
  color: #fff;
  display: flex;
  margin: auto 0 0;
  width: 100%;
}
footer p {
  margin: 0.3125rem auto;
}

#home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/sergey-pesterev-DWXR-nAbxCk-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 75vh;
}

#heroText {
  display: flex;
  flex-direction: column;
  margin: auto;
}
#heroText h1 {
  font-size: 4rem;
  text-align: center;
}
#heroText a {
  border: #fff 0.25rem solid;
  border-radius: 1.25rem;
  font-size: 2.5rem;
  margin: 1.25rem auto auto;
  padding: 0.625rem 1.25rem;
}
#heroText a:hover {
  background-color: #fff;
  color: #000;
}

#popular {
  display: flex;
  flex-direction: column;
}
#popular h1 {
  margin: 1.25rem auto;
  text-align: center;
}

.destinationDisplay {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5rem 10rem;
  margin: 0 auto 1.25rem;
}
.destinationDisplay .destination {
  background-color: #fff;
  border-top: #2d3b46 0.125rem solid;
  border-left: #2d3b46 0.125rem solid;
  border-top-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0.625rem 0.625rem 0.25rem rgba(0, 0, 0, 0.25));
  width: 30rem;
}
.destinationDisplay .destination img {
  border-top-left-radius: 1.125rem;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.destinationDisplay .destination .destinationInfo {
  display: flex;
  flex-direction: column;
  padding: 0 0.25rem;
}
.destinationDisplay .destination .destinationInfo .name {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
}
.destinationDisplay .destination .destinationInfo .location,
.destinationDisplay .destination .destinationInfo .price {
  font-weight: bold;
}

#contact {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#contact nav {
  color: #000;
}
#contact nav a:last-child {
  border: #000 0.125rem solid;
  border-radius: 0.3125rem;
  padding: 0.125rem 0.25rem;
}
#contact nav a:last-child:hover {
  background-color: #000;
  color: #fff;
}

.contactLinksAndForm {
  border-radius: 1.25rem;
  display: flex;
  filter: drop-shadow(0.625rem 0.625rem 0.25rem rgba(0, 0, 0, 0.25));
  justify-content: space-between;
  margin: auto;
  width: 65vw;
  min-height: 350px;
}

.contactMedia {
  background-color: #2d3b46;
  border-radius: 1.25rem 0 0 1.25rem;
  color: #fff;
  display: flex;
  width: 40%;
}
.contactMedia .mediaContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 50%;
}
.contactMedia .mediaContainer p {
  margin: 0;
}
.contactMedia .mediaContainer .phoneAndEmail {
  display: block;
  flex-direction: column;
  font-weight: bold;
  padding: 0;
  margin: 1.25rem auto;
}
.contactMedia .mediaContainer .phoneAndEmail .contactEmail,
.contactMedia .mediaContainer .phoneAndEmail .contactPhone {
  display: flex;
  padding: 0;
  justify-content: left;
  width: 100%;
}
.contactMedia .mediaContainer .phoneAndEmail .contactEmail:last-child,
.contactMedia .mediaContainer .phoneAndEmail .contactPhone:last-child {
  margin: 1.25rem 0 0;
}
.contactMedia .mediaContainer .phoneAndEmail .contactEmail i,
.contactMedia .mediaContainer .phoneAndEmail .contactPhone i {
  font-size: 1rem;
  margin: auto 1.25rem auto 0;
}
.contactMedia .mediaContainer .phoneAndEmail .contactEmail p,
.contactMedia .mediaContainer .phoneAndEmail .contactPhone p {
  font-weight: bold;
  margin: 0.25rem 0;
}
.contactMedia .mediaContainer div {
  display: flex;
  justify-content: space-around;
}
.contactMedia .mediaContainer div a {
  color: unset;
}
.contactMedia .mediaContainer div a i {
  font-size: 2.5rem;
}
.contactMedia .mediaContainer div a i:hover {
  font-size: 3rem;
}

.contactForm {
  background-color: #fff;
  border-radius: 0 1.25rem 1.25rem 0;
  display: flex;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1.25rem auto;
  width: 60%;
}
form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  width: 100%;
}
form div label {
  color: #000;
  margin-bottom: 0.625rem;
}
form input {
  border-top: none;
  border-right: none;
  border-bottom: 0.125rem solid #000;
  border-left: none;
}
form textarea {
  border: 0.125rem solid #000;
}
form button {
  background: none;
  border: 0.125rem solid #000;
  border-radius: 1.25rem;
  color: #000;
  font-weight: bold;
  margin: auto;
  padding: 0.3125rem 0.625rem;
}
form button:hover {
  background-color: #000;
  border: 0.125rem solid #000;
  color: #fff;
  cursor: pointer;
}

#booking {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#booking nav {
  color: #000;
}
#booking nav a:last-child {
  border: #000 0.125rem solid;
  border-radius: 0.3125rem;
  padding: 0.125rem 0.25rem;
}
#booking nav a:last-child:hover {
  background-color: #000;
  color: #fff;
}
#booking .bookingForm {
  display: flex;
  margin: auto;
}
#booking .bookingForm form {
  background-color: #fff;
  border-top: #2d3b46 0.125rem solid;
  border-left: #2d3b46 0.125rem solid;
  border-top-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  filter: drop-shadow(0.625rem 0.625rem 0.25rem rgba(0, 0, 0, 0.25));
  margin: auto;
  padding: 0.625rem;
  width: 90vw;
}
#booking .bookingForm form .field {
  display: flex;
  flex-direction: row;
}
#booking .bookingForm form .field div {
  display: flex;
  width: 42vw;
}
#booking .bookingForm form .field div:first-child {
  margin-right: auto !important;
}
#booking .bookingForm form .conclusion {
  display: flex;
  flex-direction: column;
}
#booking .bookingForm form .conclusion p {
  text-align: center;
  margin-bottom: 1.25rem;
}
#booking .bookingForm form .conclusion p span {
  font-weight: bold;
}
#booking .bookingForm form .conclusion button {
  font-size: 1.25rem;
}

@media (max-width: 850px) {
  .navSection .info div i {
    font-size: 0.75rem;
    margin: auto 0.75rem auto 0;
  }
  .navSection .info div p {
    font-size: 0.75rem;
    margin: auto 0;
  }
  nav .navIcons {
    display: flex !important;
  }
  nav .navLinks {
    display: none !important;
  }
  nav .navLinksResponsive {
    display: flex !important;
  }
  #heroText h1 {
    font-size: 2.5rem;
  }
  #heroText a {
    font-size: 1.5rem;
    margin-bottom: 0.3125rem;
  }
  .destinationDisplay .destination {
    width: 20rem;
  }
  .contactLinksAndForm {
    width: 95vw;
  }
}
@media (max-width: 1160px) {
  .destinationDisplay {
    display: flex;
    flex-direction: column;
  }
  .bookingForm form {
    margin: 2rem auto !important;
  }
  .bookingForm form .field {
    flex-direction: column !important;
  }
  .bookingForm form .field div {
    width: 100% !important;
  }
}
@media (max-width: 1450px) {
  .contactLinksAndForm {
    flex-direction: column-reverse;
    margin: 2rem auto;
  }
  .contactLinksAndForm .contactMedia {
    border-radius: 0 0 1.25rem 1.25rem;
    width: 100%;
  }
  .contactLinksAndForm .contactMedia .mediaContainer {
    margin: 2rem auto;
  }
  .contactLinksAndForm .contactForm {
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */