@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// global variables
$primary-font-color: #000;
$secondary-font-color: #fff;
$primary-bg-color: #2d3b46;

// mixins
@mixin applyPadding {
	padding: 0 2.5rem;
}

* {
	font-family: Roboto, sans-serif;
}

body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-height: 100vh !important;
}

a {
	color: unset;
	text-decoration: none;
}

// Navbar styling
.navSection {
	color: $secondary-font-color;
	display: flex;
	flex-direction: column;

	.info {
		background-color: $primary-bg-color;
		display: flex;
		justify-content: space-around;

		div {
			display: flex;

			i {
				font-size: 1rem;
				margin: auto 1.25rem auto 0;
			}

			p {
				margin: 0.25rem 0;
			}
		}
	}

	nav {
		color: $secondary-font-color;
		display: flex;
		justify-content: space-between;
		position: relative;
		width: 90%;

		margin: 0.25rem auto 0;

		.brandName {
			font-size: 1.5rem;
			font-weight: bold;
		}

		.navIcons {
			display: none;
		}

		.navLinks {
			display: flex;
			margin: auto 0 auto auto;

			a {
				font-size: 1.125rem;

				&:not(:first-child) {
					margin-left: 1.25rem;
				}

				&:not(:last-child) {
					&:hover {
						text-decoration: underline;
					}
				}

				&:last-child {
					border: $secondary-font-color 0.125rem solid;
					border-radius: 0.3125rem;
					padding: 0.125rem 0.25rem;

					&:hover {
						background-color: $secondary-font-color;
						color: $primary-font-color;
					}
				}
			}
		}

		.navLinksResponsive {
			background-color: $primary-bg-color;
			border-bottom-left-radius: 0.3125rem;
			border-bottom-right-radius: 0.3125rem;
			color: $secondary-font-color !important;
			color: $secondary-font-color !important;
			display: none;
			filter: drop-shadow(0.625rem 0.625rem 0.25rem rgba(0, 0, 0, 0.25));
			flex-direction: column;
			margin: auto 0 auto auto;
			min-width: 10.5rem;
			padding: 0 auto 0.3125rem auto;
			top: 100%;
			left: calc(100% - 10.5rem);
			position: absolute;
			z-index: 10;

			a {
				font-size: 1.125rem;

				&:not(:first-child) {
					margin-top: 1.25rem;
				}

				&:not(:last-child) {
					&:hover {
						text-decoration: underline;
					}
				}

				&:last-child {
					border: $secondary-font-color 0.125rem solid;
					border-radius: 0.3125rem;
					padding: 0.125rem 0.25rem;
					text-align: center;

					&:hover {
						background-color: $secondary-font-color;
						color: $primary-font-color;
					}
				}
			}
		}
	}
}

footer {
	background-color: $primary-bg-color;
	color: $secondary-font-color;
	display: flex;
	margin: auto 0 0;
	width: 100%;

	p {
		margin: 0.3125rem auto;
	}
}

// import styling for other pages
// home page
@import './home';
// contact page
@import './contact';
// booking page
@import './booking';
// media queries
@import './mediaQueries';
